.basic{
    margin-left: 1100px;
    width: 1000px;
}



.about{
    text-align: center;
}
.vertical{
    margin-left: 250px;
}
.table1{
    margin: 50px ;
}

.principle{
    margin-left: 50px;
}

.table2{
    margin: 50px;
}

