.basic{
    margin-left: 1100px;
    width: 1000px;
}



.about{
    text-align: center;
}
.vertical{
    margin-left: 250px;
}
.table1{
    margin: 50px ;
}

.principle{
    margin-left: 50px;
}

.table2{
    margin: 50px;
}

.henri{
    text-align:center;
    margin: 50px;
}
.oldboy{
    margin: 50px;
}
.table2{
  margin-left: 50px;
  margin-right: 50px;
}
.Newpara{
    position: relative 20px;
    margin-left: 50px;
    margin-right: 50px;
}
