.basic{
    margin-left: 1100px;
    width: 1000px;
}



.about{
    text-align: center;
}
.vertical{
    margin-left: 250px;
}
.table1{
    margin: 50px ;
}

.principle{
    margin-left: 50px;
}

.table2{
    margin: 50px;
}

.henri{
    text-align:center;
    margin: 50px;
}
.oldboy{
    margin: 50px;
}
.table2{
  margin-left: 50px;
  margin-right: 50px;
}
.Newpara{
    position: relative 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.lasth3{
    position: relative;
    left: 300px;
}
.lastim{
    position: relative;
    left:340px;
}
.lastTd{
    position: relative;
    left: 230px;
}

.Q1{
    position: relative;
    left: 320px;
}
.Q2{
 position: relative;
 left: 320px;
 
}

.Q4{
    position: absolute;
    left: 600px;
    position: relative;
    top: 25px;
}
